<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FyleFrontendChallenge</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>
    <!-- search-repos.component.html -->
<form class="search-form" (ngSubmit)="onSubmit()">
  <label class="search-label" for="username">GitHub Username:</label>
  <input id="username" [(ngModel)]="username" name="username" required />
  <button class="search-button" type="submit">Search</button>
</form>

<ul class="repository-list">
  <li class="repository-item" *ngFor="let repo of repositories">
    <a class="repository-link" href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
    <p class="repository-description">{{ repo.description }}</p>
  </li>
</ul>

<p class="error-message" *ngIf="repositories.length === 0 && errorMessage">
  {{ errorMessage }}
</p>
  </app-root>
</body>
</html>
